.header {
    background: var(--Black-Deep, #121314);
    z-index: 10;
    padding-bottom: 4px;
}

.main-menu {
    background: var(--Black-Deep, #121314);
    color: var(--White, #fff);
}

.header__cart-count {
    background: none;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
    color: var(--Green, #53a61c);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    right: 10px;
}
